body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.brand-container {
    margin-bottom: 2rem;
}

.brand-logo {
    font-weight: 800;
    color: #2c3e50;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #2c3e50;
    border-radius: 5px;
}

/* Estilo para las tarjetas de productos */
.card {
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.card-title {
    font-size: 23px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1.1rem;
    color: #439149; /* Azul corporativo para el precio */
    font-weight: bold;
}

/* Buscador */
#buscador {
    /* border-radius se maneja en el HTML inline o nueva clase para input-group */
    padding: 15px 25px;
}

#buscador:focus {
    box-shadow: none; /* Quitamos sombra al input porque la tiene el grupo */
    background-color: #ffff;
}

